.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #0ba6de;
  border-radius: 4px;
  color: white;
  text-align: center;
  margin-top: 40px;
}
.btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.btn:active{
  transform: scale(0.9);
transition: 0.3s;
}
